.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.altflexcolumn {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../images/block03.png);
  margin: 1em;
  width: 24.8em;
}
body header nav a {
  background-image: url(../images/brick.png);
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 0 1em;
}
body .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .castleScene {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 8px double #a64600;
  padding: 1em 1em 0 1em;
}
body .main .castleScene .castleTop {
  background-image: url(../images/walltop.png);
  padding: 1.03em 65px;
}
body .main .castleScene .castleWall {
  background-image: url(../images/brick.png);
  padding: 1.03em 65px;
}
body .main .castleScene .level {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main .castleScene .level .castleTop {
  background-image: url(../images/walltop.png);
  padding: 1.03em 2em;
}
body .main .castleScene .level .castleWall {
  background-image: url(../images/brick.png);
  padding: 1.03em 65px;
}
body .main .castleScene .level .door {
  background-image: url(../images/door.png);
  padding: 2em 1.03em;
}
body .main .castleScene .level .brick {
  background-image: url(../images/brick.png);
  padding: 2em 56.5px;
}
body .main .castleScene .level .blank2 {
  padding: 2em 4em;
}
body .main .castleScene .level .blank {
  padding: 2em;
}
body .main .castleScene .level .bush {
  background-image: url(../images/bush.png);
  padding: 1em 3.1em;
  align-self: flex-end;
}
body .main .castleScene .castleWall2 {
  background-image: url(../images/brick.png);
  padding: 1.03em 129px;
}
body .main .castleScene .floor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main .castleScene .floor .floorLeft {
  background-image: url(../images/block07.png);
  padding: 1.03em;
}
body .main .castleScene .floor .floorCenter {
  background-image: url(../images/block05.png);
  padding: 1.03em 20.7em;
}
body .main .castleScene .floor .floorRight {
  background-image: url(../images/block06.png);
  padding: 1.03em;
}
body .main .scene02 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  border: 5px double seagreen;
  padding: 1em 0 0 0;
}
body .main .scene02 .ground {
  background-image: url(../images/block01.png);
  padding: 1.03em 24.7em;
}
body .main .scene02 .level01 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main .scene02 .level01 .block01 {
  background-image: url(../images/block02.png);
  padding: 1.03em 6.2em;
}
body .main .scene02 .level01 .blank01 {
  padding: 1.03em 3em;
}
body .main .scene02 .level01 .mario {
  background-image: url(../images/mario.png);
  padding: 1.03em 0.8em;
}
body .main .scene02 .level01 .pipe {
  background-image: url(../images/pipe.png);
  padding: 1.03em 1.9em;
}
body .main .scene02 .level01 .blank02 {
  padding: 1.03em 6.7em;
}
body .main .scene02 .level01 .block02 {
  background-image: url(../images/block02.png);
  padding: 1.03em 3.1em;
}
body .main .scene02 .level02 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main .scene02 .level02 .block01 {
  background-image: url(../images/block02.png);
  padding: 1.03em 5.1em;
}
body .main .scene02 .level02 .blank01 {
  padding: 1.03em 7.9em;
}
body .main .scene02 .level02 .pipe {
  background-image: url(../images/pipe.png);
  padding: 1.03em 1.9em;
}
body .main .scene02 .level02 .blank02 {
  padding: 1.03em 7.8em;
}
body .main .scene02 .level02 .block02 {
  background-image: url(../images/block02.png);
  padding: 1.03em 2em;
}
body .main .scene02 .level03 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main .scene02 .level03 .block01 {
  background-image: url(../images/block02.png);
  padding: 1.03em 4.1em;
}
body .main .scene02 .level03 .blank01 {
  padding: 1.03em 8.88em;
}
body .main .scene02 .level03 .pipe {
  background-image: url(../images/pipe.png);
  padding: 1.03em 1.9em;
}
body .main .scene02 .level03 .blank02 {
  padding: 1.03em 8.75em;
}
body .main .scene02 .level03 .block02 {
  background-image: url(../images/block02.png);
  padding: 1.03em 1.03em;
}
body .main .scene02 .level04 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main .scene02 .level04 .block01 {
  background-image: url(../images/block02.png);
  padding: 1.03em 3.1em;
}
body .main .scene02 .level04 .blank01 {
  padding: 1.03em 9.88em;
}
body .main .scene02 .level04 .pipe {
  background-image: url(../images/pipe.png);
  padding: 1.03em 1.9em;
}
body .main .scene02 .level04 .blank02 {
  padding: 1.03em 8.75em;
}
body .main .scene02 .level04 .animal {
  background-image: url(../images/animal1.png);
  padding: 1.03em 1.03em;
}
body .main .scene02 .level05 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main .scene02 .level05 .block01 {
  background-image: url(../images/block02.png);
  padding: 1.03em 2.1em;
}
body .main .scene02 .level05 .blank01 {
  padding: 1.03em 10.7em;
}
body .main .scene02 .level05 .pipetop {
  background-image: url(../images/pipetop.png);
  padding: 1.03em 2.1em;
}
body .main .scene02 .level05 .blank02 {
  padding: 1.03em 9.7em;
}
body .main .scene02 .level06 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main .scene02 .level06 .blank01 {
  padding: 1.03em 13.3em;
}
body .main .scene02 .level06 .plant {
  background-image: url(../images/plant.png);
  padding: 1.4em 1.03em;
}
body .main .scene02 .level06 .blank02 {
  padding: 1.4em 10.3em;
}
body .main .scene02 .level07 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main .scene02 .level07 .blank01 {
  padding: 1.55em 9.15em;
}
body .main .scene02 .level07 .cloud {
  background-image: url(../images/cloud.png);
  padding: 1.55em 2.13em;
}
body .main .scene02 .level07 .blank02 {
  padding: 1.55em 5.6em;
}
